
.TableChart{
    width: 620px;
    margin: 0 auto 20px;
    border-collapse: collapse;
    border:2px solid #fff;
    
    
    th{
        padding: 5px;
        
        background-color: #fa0f36;
        border:2px solid #ddd;
    
    }
    td{
        padding: 5px;
        border:2px solid #ddd;
    
    }
    
}