.Tooltip{
    
    padding: 8px;
    background: #5f565fd5;
    position: absolute;
    top: 48px;
    left: -25px;
    z-index: 99;
    border-radius: 5px;
    &:after{
        content: "";
        display: block;
        position: absolute;
        top: -9px;
        left: 60px;
        width: 0px;
        height: 0px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid #5f565fd5;
    }
}